        html {
            font-family: 'Open Sans', sans-serif;
        }

        body {
       
        }

        .main-head {
            background-color: #404041;
            color: #E6e7e8;
            text-align: center;
            padding: 20px;
            font-weight: 300;
            font-size: 45px;
        }

        .pink {
            color: #ED458B;
            font-weight: 700;
        }

        .form {
            display: flex;
            justify-content: center;
            margin: 20px;
            
        }

        .guessField {
            width: 375px;
            height: 25px;
            font-size:24px;
            font-weight: 300;
        }

        .buttons {
            display: flex;
            justify-content: center;
            align-content: space-between;
        }

        .button {
            background-color: #929497;
            color: #FFFFFF;
            border-radius: 12px;
            font-size: 24px;
            font-weight: 300;
            width: 12.5%;
            margin: 10px;
        }

        .resetButton {
            background-color: #929497;
            color: #FFFFFF;
            border-radius: 12px;
            font-size: 24px;
            font-weight: 300;
            width: 25%;
            margin: 10px;
        }

        .button:hover {
            background-color: #EB008B;
            color: white;
            color: #FFFFFF;
        }

        .resultParas {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .guesses {
            color: #EB008B;
        }

