        html {
            font-family: 'Open Sans', sans-serif;
        }

        .main-head {
            background-color: #404041;
            color: #E6e7e8;
            text-align: center;
            padding: 20px;
            font-weight: 300;
            font-size: 45px;
        }

        .pink {
            color: #ED458B;
            font-weight: 700;
        }

        .form {
            display: flex;
            justify-content: center;
            margin: 20px;
            
        }

        .guessField {
            width: 375px;
            height: 25px;
            font-size:24px;
            font-weight: 300;
        }

        .buttons {
            display: flex;
            justify-content: center;
            align-content: space-between;
        }

        .button {
            background-color: #929497;
            color: #FFFFFF;
            border-radius: 12px;
            font-size: 24px;
            font-weight: 300;
            width: 12.5%;
            margin: 10px;
        }

        .button.wider{
            width: 25%;
        }
        .resetButton {
            background-color: #929497;
            color: #FFFFFF;
            border-radius: 12px;
            font-size: 24px;
            font-weight: 300;
            width: 25%;
            margin: 10px;
        }

        .button:hover {
            background-color: #EB008B;
            color: white;
            color: #FFFFFF;
        }

        .button:disabled {
            background-color:#929497;
            opacity: 0.5;
        }

        .resultParas {
            text-align: center;
        }

        .guesses h3 {
            font-size: 30px;
            color: #EB008B;
            margin: 0px 0;
            font-size: 150px;
            font-weight: 300;
        }

        p {
            font-size: 25px;
        }

        .rangeForm {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .rangeField {
            width: 75px;
            height: 25px;
            font-size:24px;
            font-weight: 300;
        }

        .rangeHeader {
            text-align: center;
            font-weight: 700;
        }